<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>2019 Our little trips</title>
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body>
  <div id="app">
    <!-- <h1>Our little trips</h1> -->
    <!-- <span>with you</span> -->
    <div class="img-list">
      <div v-for="(image, index) of images" class="img-item " @click="swapImage" :style="{'z-index': images.length-index, 'margin-left': (index * 5)+'px'}" :data-index="index">
        <!-- span {{image}} -->
        <!-- <div v-on:click="swapImage"> -->
        <div class="comment">
          <span v-for="comment in setTextComment(index)" :class="{'cover': index === 0}">{{comment}}</span><br>
        </div>
        <img :src="image" :class="setImageVisible(index)">
        <span class="page-num">{{index+1}}</span>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.0/vuex.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        images: ['images/0105-1.jpg',
          'images/0101-1.jpg',
          'images/0105-2.jpg',
          'images/0105-3.jpg',
          'images/0105-4.jpg',
          'images/0105-5.jpg',
          'images/0112-1.jpg',
          'images/0112-2.jpg',
          'images/0112-3.jpg',
          'images/0202-1.jpg',
          'images/0202-2.jpg',
          'images/0202-3.jpg',
          'images/0202-4.jpg',
          'images/0202-5.jpg',
          'images/0202-6.jpg',
          'images/0202-7.jpg',
          'images/0216-1.jpg',
          'images/0216-2.jpg',
          'images/0216-3.jpg',
          'images/0228-1.jpg',
          'images/0228-2.jpg',
          'images/0228-3.jpg',
          'images/0228-4.jpg',
          'images/0228-5.jpg',
          'images/0228-6.jpg',
          'images/0316-1.jpg',
          'images/0316-2.jpg',
          'images/0316-3.jpg',
          'images/0404-1.jpg',
          'images/0404-2.jpg',
          'images/0404-3.jpg',
          'images/0420-1.jpg',
          'images/0420-2.jpg',
          'images/0427-1.jpg',
          'images/0427-2.jpg',
          'images/0427-3.jpg',
          'images/0427-4.jpg',
          'images/0504-1.jpg',
          'images/0504-2.jpg',
          'images/0504-3.jpg',
          'images/0511-1.jpg',
          'images/0511-2.jpg',
          'images/0511-3.jpg',
          'images/0511-4.jpg',
          'images/birthday.jpg'
        ],
        claasList: [
          'filter-graysale',
          'filter-contrast',
          'filter-sepia',
          'filter-saturate',
          // 'filter-blur'
        ],
        filterClass: {
          '1': 'filter-graysale'
        },
        textComment: {
          '0': ['2019 Our little trips', 'Familiar acts are beautiful through love.'],
          '1': ['2019/01/01', ' - 跨年，永春崗'],
          '2': ['2019/01/05', ' - 十分'],
          '3': [' ', ' ', ' - 貓'],
          '4': [' ', ' ', ' - 十分瀑布'],
          '5': [' ', ' ', ' - 駛來的火車'],
          '6': ['2019/01/12', ' - 大同山登山步道'],
          '7': [' ', ' ', ' - 三角埔頂山'],
          '8': [' ', ' ', ' - 大同山觀景台'],
          '9': ['2019/02/02', ' - 北海岸'],
          '10': [' ', ' ', ' - 富基漁港'],
          '12': [' ', ' ', ' - 影'],
          '13': [' ', ' ', ' - 富貴角燈塔'],
          '14': [' ', ' ', ' - 老梅綠石槽'],
          '15': [' ', ' ', ' - 夕陽'],
          '16': ['2019/02/16', ' - 台北燈節'],
          '17': [' ', ' ', ' - 北門'],
          '18': [' ', ' ', ' - 西門町'],
          '19': ['2019/02/28 - 2019/03/02', ' - 台中'],
          '20': [' ', ' ', ' - 台中火車站'],
          '21': [' ', ' ', ' - 柳川水岸'],
          '22': [' ', ' ', ' - 台中國家歌劇院'],
          '23': [' ', ' ', ' - 台中花博'],
          '25': ['2019/03/16', ' - 內湖金面山'],
          '27': [' ', ' ', ' - 林間小道'],
          '28': ['2019/04/04', ' - 草山夜未眠'],
          '29': [' ', ' ', ' - 台北市區夜景'],
          '30': [' ', ' ', ' - 週年紀念'],
          '31': ['2019/04/20', ' - 南港 City Link'],
          '32': [' ', ' ', ' - 南港極限運動中心'],
          '33': ['2019/04/27', ' - 魚路古道'],
          '34': [' ', ' ', ' - 溪'],
          '35': [' ', ' ', ' - 山林'],
          '36': [' ', ' ', ' - 0.8公里'],
          '37': ['2019/05/04', ' - 五股桐花公園步道'],
          '38': [' ', ' ', ' - 桐花'],
          '39': [' ', ' ', ' - 石壁寮溪步道'],
          '40': ['2019/05/11', ' - 新莊體育館'],
          '42': [' ', ' ', ' - 景觀湖'],
          '43': [' ', ' ', ' - 鐘樓'],
          '44': [' ', ' ', ' - 我們', ' ', 'Happy Birthday, 昱同']
        },
        currentPage: 0
      },
      methods: {
        swapImage: function(e) {
          // console.log(e.target);
          // console.log(this.currentPage);
          let classList = [...e.target.classList],
            currentDataTms = Math.ceil(Date.now() / 1000),
            birthdayTms = 1558828800,
            dataIndex = e.target.dataset['index'];

          // if (classList.indexOf('img-item') >= 0 && classList.indexOf('next') < 0) {
          if (dataIndex == this.images.length - 1 || (currentDataTms <= birthdayTms && dataIndex == this.images.length - 2)) {
            if (dataIndex == this.images.length - 1) {
              resetPrePages(dataIndex, 'back');
              this.currentPage = 0;
            } else {
              // e.target.classList.remove('back');
              // e.target.classList.add('next');
              resetPrePages(dataIndex, 'next');
              this.currentPage = parseInt(dataIndex) + 1;
            }
          } else if (classList.indexOf('next') >= 0) {
            resetPrePages(dataIndex, 'back');
            this.currentPage = 0;
          }

          function resetPrePages(index, act) {
            // console.log(index, act);
            let currentIdx = parseInt(index);
            if (act == 'next') {
              let nextPageList = [...document.querySelectorAll('.img-item.next')],
                stopIdx = currentIdx - nextPageList.length,
                // stopIdx = currentIdx - nextPageList.length + 1,
                activityPageList = [...document.querySelectorAll('.img-item:not(.next)')];
              animation(activityPageList, 0, stopIdx);
              // document.querySelectorAll('.img-item:not(.next)').forEach((el, ei) => {
              //   // let duration = currentIdx - ei;
              //   if (ei < stopIdx) {
              //     setTimeout(() => {
              //       el.classList.remove('back');
              //       el.classList.add('next');
              //     }, 100 * (ei + 1));
              //   }
              // });
            } else if (act == 'back') {
              let docList = [...document.querySelectorAll('.img-item.next')].reverse();
              animation(docList, 0, docList.length, act);
              // docList.forEach((el, ei) => {
              //   setTimeout(() => {
              //     el.classList.add('back');
              //     el.classList.remove('next');
              //     el.classList.remove('back');
              //   }, 100 * (ei + 1));
              // });
            }
          }

          function animation(docList = [], docIdx = 0, stopIdx, act = "next") {
            let el = docList[docIdx];
            if (act == "next" && el) {
              el.classList.remove('back');
              el.classList.add('next');
            } else if (act == "back" && el) {
              el.classList.add('back');
              el.classList.remove('next');
              el.classList.remove('back');
            }
            if (docIdx < stopIdx) requestAnimationFrame(() => {
              animation(docList, docIdx + 1, stopIdx, act)

            });
          }
        },
        setImgFilterClass: function(index) {
          return;
          const classList = this.filterClass;
          return classList[index] || '';
        },
        setTextComment: function(index) {
          const comment = this.textComment,
            imagesAmount = this.images.length - 1;
          return comment[index] || [];
        },
        setImageVisible: function(index) {
          return (index == this.currentPage) ? 'is-visible' : '';
        }
      }
    })
  </script>
</body>

</html>