<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>2019 Our little trips</title>
  <link rel="stylesheet" href="dist/css/style.min.css">

</head>

<body>
  <div id="app">
    <!-- <h1>Our little trips</h1> -->
    <!-- <span>with you</span> -->
    <div class="img-list">
      <div v-for="(image, index) of images" class="img-item " @click="swapImage" :style="{'z-index': images.length-index, 'margin-left': (index * 5)+'px'}" :data-index="index">
        <!-- span {{image}} -->
        <!-- <div v-on:click="swapImage"> -->
        <div class="comment">
          <span v-for="comment in setTextComment(index)">{{comment}}</span><br>
        </div>
        <img :src="image" :class="setImageVisible(index)">
        <span class="page-num">{{index+1}}</span>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.0/vuex.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        images: ['images/0105-1.jpg',
          'images/0101-1.jpg',
          'images/0105-2.jpg',
          'images/0105-3.jpg',
          'images/0105-4.jpg',
          'images/0105-5.jpg',
          'images/0112-1.jpg',
          'images/0112-2.jpg',
          'images/0112-3.jpg',
          'images/0202-1.jpg',
          'images/0202-2.jpg',
          'images/0202-3.jpg',
          'images/0202-4.jpg',
          'images/0202-5.jpg',
          'images/0202-6.jpg',
          'images/0202-7.jpg',
          'images/0216-1.jpg',
          'images/0216-2.jpg',
          'images/0216-3.jpg',
          'images/0228-1.jpg',
          'images/0228-2.jpg',
          'images/0228-3.jpg',
          'images/0228-4.jpg',
          'images/0228-5.jpg',
          'images/0228-6.jpg',
          'images/0316-1.jpg',
          'images/0316-2.jpg',
          'images/0316-3.jpg',
          'images/0404-1.jpg',
          'images/0404-2.jpg',
          'images/0404-3.jpg',
          'images/0420-1.jpg',
          'images/0420-2.jpg',
          'images/0427-1.jpg',
          'images/0427-2.jpg',
          'images/0427-3.jpg',
          'images/0427-4.jpg',
          'images/0504-1.jpg',
          'images/0504-2.jpg',
          'images/0504-3.jpg',
          'images/0511-1.jpg',
          'images/0511-2.jpg',
          'images/0511-3.jpg',
          'images/0511-4.jpg',
          'images/birthday.jpg'
        ],
        claasList: [
          'filter-graysale',
          'filter-contrast',
          'filter-sepia',
          'filter-saturate',
          // 'filter-blur'
        ],
        filterClass: {
          '1': 'filter-graysale'
        },
        textComment: {
          '0': ['2019 Our little trips'],
          '44': ['Happy Birthday ', 'Yu Tung ']
        },
        currentPage: 0
      },
      methods: {
        swapImage: function(e) {
          // console.log(e.target);
          // console.log(this.currentPage);
          let classList = [...e.target.classList],
            currentDataTms = Math.ceil(Date.now() / 1000),
            birthdayTms = 1558828800,
            dataIndex = e.target.dataset['index'];

          if (classList.indexOf('img-item') >= 0 && classList.indexOf('next') < 0) {
            if (dataIndex == this.images.length - 1 || (currentDataTms <= birthdayTms && dataIndex == this.images.length - 2)) {
              resetPrePages(dataIndex, 'back');
              this.currentPage = 0;
            } else {
              e.target.classList.remove('back');
              e.target.classList.add('next');
              resetPrePages(dataIndex, 'next');
              this.currentPage = parseInt(dataIndex) + 1;
            }
          } else if (classList.indexOf('next') >= 0) {
            resetPrePages(dataIndex, 'back');
            this.currentPage = 0;
          }

          function resetPrePages(index, act) {
            // console.log(index, act);
            let currentIdx = parseInt(index);
            // console.log(currentIdx);
            if (act == 'next') {
              document.querySelectorAll('.img-item').forEach((el, ei) => {
                if (ei < currentIdx) {
                  el.classList.remove('back');
                  el.classList.add('next');
                }
              });
            } else if (act == 'back') {
              document.querySelectorAll('.img-item.next').forEach((el, ei) => {
                el.classList.add('back');
                el.classList.remove('next');
              });
            }
          }
        },
        setImgFilterClass: function(index) {
          return;
          const classList = this.filterClass;
          return classList[index] || '';
        },
        setTextComment: function(index) {
          const comment = this.textComment,
            imagesAmount = this.images.length - 1;
          return comment[index] || [];
        },
        setImageVisible: function(index) {
          return (index == this.currentPage) ? 'is-visible' : '';
        }
      }
    })
  </script>
</body>

</html>